.threadItem {
  width: 600px;
  /* 반응형 고려해야 함 */

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 40px 200px 40px; /* 3개의 행을 생성 */
  grid-template-areas:
    'board title title title'
    'board content content content'
    'tag tag tag comment';

  /* 애니메이션  */
  transform: translateY(0rem);
  box-shadow: 1px 1px 3px 1px rgba(78, 120, 97, 0.3);
  transition: box-shadow 0.3s, transform 0.3s, opacity 1s;

  padding: 5px;
  opacity: 0;
}
.alreadyShown {
  opacity: 1;
}

.inView {
  opacity: 1;
}

.threadItem > * {
  cursor: pointer;
}
.title {
  grid-area: title;
}
.tag {
  grid-area: tag;
}

.comment {
  grid-area: comment;
  text-align: right;
}
.content {
  grid-area: content;
  font-size: 13px;
}
.board {
  grid-area: board;
  display: flex;
  align-items: center;
  justify-content: center;
}

.threadItem + .threadItem {
  margin-top: 35px;
}

.threadItem:hover {
  box-shadow: 3px 3px 10px 2px rgba(78, 120, 97, 0.3);
  background-color: rgb(246, 236, 236);
  transform: translateY(-0.4rem);
}

p {
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}
.ellipsis {
  font-size: 12px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}
.home-threadItem-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.Logowrapper {
  margin-bottom: 100px;
}
.logoAndLoginWrapper {
  margin-top: 150px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.LoginBox {
  padding: 50px;
}
.loginButton,
.signupButton {
  width: 300px;
  height: 50px;

  border: 5px solid black;
  background-color: black;
  color: white;
  font-weight: bold;

  letter-spacing: 10px;

  margin-bottom: 40px;
  cursor: pointer;
  font-size: 20px;
  transition: font-size 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginButton:hover,
.signupButton:hover {
  font-size: 24px;
}

.explanationWrapper {
  padding: 30px;
  border-top: 1px solid rgb(222, 222, 222);
  border-bottom: 1px solid rgb(222, 222, 222);
  margin-right: 60px;
  line-height: 50px;
}
