.home-threadItem-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.Logowrapper {
  margin-bottom: 100px;
}
.logoAndLoginWrapper {
  margin-top: 150px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.LoginBox {
  padding: 50px;
}
.loginButton,
.signupButton {
  width: 300px;
  height: 50px;

  border: 5px solid black;
  background-color: black;
  color: white;
  font-weight: bold;

  letter-spacing: 10px;

  margin-bottom: 40px;
  cursor: pointer;
  font-size: 20px;
  transition: font-size 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginButton:hover,
.signupButton:hover {
  font-size: 24px;
}

.explanationWrapper {
  padding: 30px;
  border-top: 1px solid rgb(222, 222, 222);
  border-bottom: 1px solid rgb(222, 222, 222);
  margin-right: 60px;
  line-height: 50px;
}
